.bgCanvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
  opacity: 0.25;
  mix-blend-mode: screen;
}

.fgCanvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 3;
  opacity: 0.6;
  mix-blend-mode: screen;
}
